<div class="container-fluid">
  <!-- SECTION 1 -->
  <div class="row">
    <div class="col-md-12 home-sec1">
      <div class="main1">
        <h1 class="name">Dhammapal Suradkar.</h1>
        <h1 class="title">
          <span>.</span>
          <div class="message"> 
            <div class="word1">Developer</div>
            <div class="word3">The Architect</div>
            <div class="word2">Full Stack Java Developer</div>
          </div>
        </h1>
      </div>
      <div class="main2">
        <h1 class="mname">Dhammapal Suradkar.</h1>
        <h3>Full Stack Developer</h3>
      </div>
      <img src="./assets/my-img/home-img1.jpg" alt="My_Photo">
    </div>
  </div>
  <!-- SECTION 2 & 3 & 4 -->
  <app-home-cert></app-home-cert>
</div>