<div class="container-fluid">
  <!-- SECTION 1 -->
  <div class="row">
    <div class="col-md-12 home-sec1">
      <div class="main1">
        <h1 class="name">Dhammapal Suradkar.</h1>
        <h1 class="title">
          <span>.</span>
          <div class="message">
            <div class="word1">Developer</div>
            <div class="word3">The Architect</div>
            <div class="word2">Full Stack Java Developer</div>
          </div>
        </h1>
      </div>
      <div class="main2">
        <h1 class="mname">Dhammapal Suradkar.</h1>
        <h3>Full Stack Developer</h3>
      </div>
      <img src="../../../assets/my-img/home-img1.jpg" alt="My_Photo">
    </div>
  </div>
  <!-- SECTION 2 -->
  <div class="row home-sec2">
    <div class="col-md-12">
      <div class="eleven">
        <h1>Certifications</h1>
      </div>
    </div>
    <div class="col-md-3 col-sm-8 pt-5 cards">
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/web-img/oracle-logo.png" alt="Oracle Logo">
        <mat-card-content>
          <h3><i class="fa-solid fa-scroll"></i> Oracle Certified Associate, Java SE 8 Programmer - Oracle</h3>
          <hr>
          <p><i class="fa-solid fa-calendar-week"></i> Issued July 2022</p>
          <p class="p"><i class="fa-solid fa-user"></i> Certificate Id : <span>293404002OCAJSE8</span></p>
        </mat-card-content>
        <hr>
        <mat-card-actions class="text-center pb-2">
          <a href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=84E0461EB55B744F473F51FC436B9ED60CDC2B21505A86091CDEDF7C91D8524F"
            type="button" class="btn btn-warning" target="_blank">See Certificate</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-8 pt-5 cards">
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/web-img/microsoft-logo.png" alt="Microsoft Logo">
        <mat-card-content>
          <h3><i class="fa-solid fa-scroll"></i> Microsoft Certified Virtual Internship Program - Microsoft</h3>
          <hr>
          <p><i class="fa-solid fa-calendar-week"></i> Issued Augast 2020</p>
          <p class="p"><i class="fa-solid fa-user"></i> Certificate Id : <span>TiYRLSbiHF7kpe3Kr</span></p>
        </mat-card-content>
        <hr>
        <mat-card-actions class="text-center pb-2">
          <a href="https://insidesherpa.s3.amazonaws.com/completion-certificates/Microsoft/ms2CK9b2SCWGXwPMS_Microsoft_ytMfTLZ8TkCDNWS3n_completion_certificate.pdf"
            type="button" class="btn btn-warning" target="_blank">See Certificate</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-8 pt-5 cards">
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/web-img/IBM-logo.png" alt="IBM Logo" class="cert3">
        <mat-card-content>
          <h3><i class="fa-solid fa-scroll"></i> Python For Data Science - IBM</h3>
          <hr>
          <p><i class="fa-solid fa-calendar-week"></i> Issued Augast 2020</p>
          <p><i class="fa-solid fa-user"></i> Certificate Id : d93ccf24ef2a4d10914e3847808a4e1b</p>
        </mat-card-content>
        <hr>
        <mat-card-actions class="text-center pb-2">
          <a href="https://www.credly.com/badges/b941b03c-eeb1-403b-a4e3-b6e2537ee84e?source=linked_in_profile"
            type="button" class="btn btn-warning" target="_blank">See Certificate</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!-- SECTION 3 -->
  <div class="row py-4 r3">
    <div class="col-md-12">
      <div class="eleven e1">
        <h1>Other Certifications</h1>
      </div>
    </div>
    <div class="col-md-6 py-4 s3">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/certificates/cert0.jpg" alt="First slide">
          </div>
          <div class="carousel-item" *ngFor="let cert of certs">
            <img class="d-block w-100" src="../../../assets/certificates/{{cert}}" alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- SECTION 4 -->
  <div class="row p-3 row4">
    <div class="col-md-12">
      <div class="eleven">
        <h1>Projects</h1>
      </div>
    </div>
    <div class="col-md-12 projects">

      <div class="d">
        <div class="card text-center">
          <div class="card-header">
            <h2 class="m-0 p-0">1</h2>
          </div>
          <div class="card-body">
            <h4 class="card-title">Exam Portal</h4>
            <p class="card-text"><span class="text-italic">Technologies Used:</span> Angular, Angular Material, Bootstrap Grid, Java, Spring Boot, Hibernate, JWT Authentication, Spring Security, MySql</p>
            <a (click)="showMsg()" target="_blank" class="btn btn-secondary btn-sm pro-btn">See Project</a>
          </div>
          <div class="card-footer text-muted">
            <span class="sp">Status: Under Work</span>
          </div>
        </div>
      </div>

      <div class="d" *ngFor="let pro of pros">
        <div class="card text-center">
          <div class="card-header">
            <h2 class="m-0 p-0">{{pro[0]}}</h2>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{pro[1]}}</h4>
            <p class="card-text mb-4"><span class='text-italic'>Technologies used: </span>{{pro[2]}}</p>
            <a href="{{pro[3]}}" target="_blank" class="btn btn-secondary btn-sm pro-btn">See Project</a>
          </div>
          <div class="card-footer text-muted">
            <span class="sp">Status: {{pro[4]}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>