<div class="container-fluid">
    <!-- SECTION 1 -->
    <div class="row row1 pb-4">
        <div class="col-md-12 pt-1">
            <div class="eleven e1">
                <h1>About Me</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row row1-2">
                <div class="col-md-9 r-part2">
                    <h1 class="m-0">Dhammapal Suradkar</h1>
                    <p>- Java Developer | Software Engineer</p>
                    <div>
                        <h4>" Software Engineer with excellent problem solving skills and ability to perform well in a team. passionate about coding and learning new technologies. I'm a Full Stack Java Developer and OCA certified associate by Oracle University. I have 11 Months of experience in Virtusa as a full stack Java Developer. "
                        </h4>
                    </div>
                    <hr>
                    <div class="education mb-4">
                        <h2><i class="fa-solid fa-graduation-cap"></i> Higher Studies &#8594; </h2>
                        <div class="pl-5 fdiv">
                            <i>" I completed My Graduation in Information Technology (2021). "</i><br><br>
                            <span>Course Name:</span> Bachelor of Engineering (<b>B.E</b>)<br>
                            <span>College Name:</span> Anuradha Engineering College Chikhli Maharashtra India.<br>
                            <span>University:</span> Sant Gadge Baba Amravati University.<br>
                            <span>Passout Year:</span> 2021
                        </div>
                    </div>
                    <hr>
                    <div class="skills">
                        <h2><i class="fa-brands fa-studiovinari"></i> Skills &#8594; </h2>
                        <div class="pl-5 fdiv">
                            <div>
                                <h3><i class="fa-solid fa-code"></i> Languages &#8594;
                                    <div class="front-skills ml-3">
                                        <span class="badge crimson">Java (core + Advanced)</span>
                                        <span class="badge blue">Python</span>
                                        <span class="badge hiber2">JavaScript</span>
                                    </div>
                                </h3>
                            </div>
                            <hr>
                            <div>
                                <h3><i class="fa-solid fa-laptop-code"></i> Front End &#8594;
                                    <div class="front-skills ml-3">
                                        <span class="badge red">Angular</span>
                                        <span class="badge oranged">HTML 5</span>
                                        <span class="badge blue2">CSS 3</span>
                                        <span class="badge purple2">BOOTSTRAP</span>
                                        <span class="badge purple3">Angular Material</span>
                                    </div>
                                </h3>
                            </div>
                            <hr>
                            <div>
                                <h3><i class="fa-solid fa-file-code"></i> Back End &#8594;
                                    <div class="front-skills ml-3">
                                        <span class="badge green">Spring</span>
                                        <span class="badge green2">Spring Boot</span>
                                        <span class="badge green3">Spring Security</span>
                                        <span class="badge hiber">Hibernate</span>
                                    </div>
                                </h3>
                            </div>
                            <hr>
                            <div>
                                <h3><i class="fa-solid fa-database"></i> Databases &#8594;
                                    <div class="front-skills ml-3">
                                        <span class="badge blue5">MySql</span>
                                        <span class="badge red2">Oracle</span>
                                    </div>
                                </h3>
                            </div>
                            <hr>
                            <div>
                                <h3><i class="fa-solid fa-briefcase"></i> Tools &#8594;
                                    <div class="front-skills ml-3">
                                        <span class="badge badge-primary">VS Code</span>
                                        <span class="badge purple4">Eclipse</span>
                                        <span class="badge badge-success">STS</span>
                                        <span class="badge post">Postman</span>
                                        <span class="badge badge-dark">MySql Workbench</span>
                                        <span class="badge green4">Intellij Idea</span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="social-links">
                        <h2><i class="fa-solid fa-graduation-cap"></i> Social Networks &#8594; </h2>
                        <div class="s-links ml-5">
                            <a href="https://www.linkedin.com/in/dhammapalsuradkar/" target="_blank">
                                <button mat-stroked-button color="blue"><i class="fa-brands fa-linkedin"></i></button>
                            </a>
                            <a href="https://github.com//DhammapalSuradkar-123" target="_blank" class="ml-3">
                                <button mat-stroked-button color="primary"><i class="fa-brands fa-github"></i></button>
                            </a>
                            <a href="https://twitter.com/Dhammapal__S" target="_blank" class="ml-3">
                                <button mat-stroked-button color="dodgerblue"><i class="fa-brands fa-twitter"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 r-part3">
                    <img src="./assets/my-img/pro-img1.JPG" alt="Dhammapal Suradkar Pic">
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION 2 -->
    <div class="row row2 pb-4">
        <div class="col-md-12 pt-1">
            <div class="eleven">
                <h1>Work Experience</h1>
            </div>
        </div>
        <!-- when i will get experience in more than two company's then create the seperate component for work experience section to reduces the code length. -->
        <div class="col-md-12 experience">
            <div class="row row1-2">
                <div class="col-md-9 r-part2">
                    <div class="row ex-row">
                        <div class="col-md-5">
                            <h2><span class="head">Company Name</span> <span class="arrow">&#8594;</span> <span class="ans">Virtusa</span></h2>
                            <h2><span class="head">Job Role</span> <span class="arrow">&#8594;</span> <span class="ans">Associate Engineer</span></h2>
                            <h2><span class="head">Date of Joining</span> <span class="arrow">&#8594;</span> <span class="ans">27-01-2022</span></h2>
                            <h2><span class="head">Date of Relieving</span> <span class="arrow">&#8594;</span> <span class="ans">30-12-2022</span></h2>
                            <h2><span class="head">Total Experience</span> <span class="arrow">&#8594;</span> <span class="ans">11 Month's</span></h2>
                        </div>
                        <div class="col-md-7">
                            <h2>Responsibilities &#8594;</h2>
                            <div class="indent">
                                <p>&#x2606; Analyze client needs and define site objectives.</p>
                                <p>&#x2606; Design and implement application phases.</p>
                                <p>&#x2606; Participate in architectural and software development activities.</p>
                                <p>&#x2606; Conduct software analysis, testing, debugging and Programming.</p>
                                <p>&#x2606; Recognize the production and non-production application issues.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 r-part3">
                    <p></p>
                    <img src="./assets/web-img/Virtusa-Logo.png" alt="Virtusa_Logo">
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION 3 -->
    <div class="row row1 pb-5 r3">
        <div class="col-md-12 pt-1">
            <div class="eleven e1">
                <h1>My Resume</h1>
            </div>
        </div>
        <div class="col-md-5 col-sm-10 resume">
            <mat-card>
                <mat-card-content class="m-0">
                    <img src="./assets/certificates/Resume.jpg" alt="Dhammapal Suradkar Resume">
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="text-center mt-2 mb-1">
                    <a href="./assets/certificates/Dhammapal Suradkar Resume.pdf" target="_blank" mat-stroked-button
                        color="primary"><i class="fa-solid fa-download pr-1"></i> Download Resume</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <!-- SECTION 4 -->
    <div class="row pb-5">
        <div class="col-md-12 pt-1">
            <div class="eleven">
                <h1>Company Slogan's</h1>
            </div>
        </div>
        <div class="col-md-12 row1-2">
            <div class="comp">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <h3>Google</h3>
                                <p>" Don't Be Evil "</p>
                            </div>
                        </div>

                        <div class="carousel-item" *ngFor="let slogan of slogans">
                            <div class="carousel-caption">
                                <h3>{{slogan[0]}}</h3>
                                <p> " {{slogan[1]}} "</p>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>